<div class="container book">
  <div class="card text-dark shadow mb-3 p-3">
    <div class="row">
      <div class="col-6">
        <h3><a href="/book/{{id}}">{{title}}</a></h3>
        {{#if seriesid}}
            #{{seriesorder}} of the {{series.seriesname}} series
        {{/if}}
        <br>
        by
            {{#each authors}}
                {{firstname}} {{lastname}}
            {{/each}}
          <br>
        Published {{format_date originalPublishedDate}}
      </div>
      <div class="col-3">
        <h5>Genre</h5>
        {{#each lookups}}
            {{#if (compare class '===' "genre")}}
                {{detailname}}<br>
            {{/if}}
        {{/each}}
    </div>
    <div class="col-3">
        <h5>Locations</h5>
        {{#each lookups}}
            {{#if (compare class '===' "location")}}
                {{detailname}}<br>
            {{/if}}
        {{/each}}
      </div>
    </div>
  </div>
</div>